$c-violeta: #8011F2;
$c-violetaC: #BE80FF;
$c-azul: #0E153A;
$c-celeste: #5CA4AE;
$c-blanco: #FFFFFF;
$c-griso:#434343;
$c-grisc: #b5b5b5;


.c__violeta{
    color: $c-violeta;
}

.c__azul{
    color: $c-azul;
}

.c__celeste{
    color: $c-celeste;
}

.c__blanco{
    color: $c-blanco ;
}

.c__griso{
    color:$c-griso ;
}

.c__grisc{
    color:$c-grisc ;
}