.contactoHeader{
    height: 45vh;
    width: 100%;
    background-image: url(../img/headerContacto.png);
    background-position: center;
    background-size: cover;
    h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    p{
        padding-top: 110px;
    }
}