.sobreDicoHeader{
    height: 45vh;
    width: 100%;
    background-image: url(../img/headerNosotros.png);
    background-position: center;
    background-size: cover;
    h1{
        padding-top: 100px;
    }
}